<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SIM Hotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hospede">Hóspedes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/empregado">Empregados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quarto">Quartos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reserva">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contrato_form">Criar Contratos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="text-black-50 bg-dark text-white footer">
        <div class="text-white">
            &copy; <a class="link-light" href="https://www.github.com/bkpedrosuper">Pedro Serpa</a>
        </div>
    </footer>

    {% block script %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>