{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
                <div class="inner cover text-info">
                    <h1 class="cover-heading">Hotel? Sim</h1>
                    <p class="lead text-white">Bem-vindo(a) ao sistema de gestão de hotel Sim. </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
